[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
websockets = "*"
nats-py = "*"
nicegui = "*"
pydantic = "*"
mcap = "*"

[requires]
python_version = "3.11"
